body {
    text-align:center;
    font-family: 'Montserrat',sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
}

p {
    color: #8f8f8f;
}
 
/*headings*/
.big-heading {
    font-family: 'Montserrat', sans-serif; /*fonts.google.com*/
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}
.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}
/*container*/
.container-fluid {
    padding:7% 15%;
}
.colored-section {
    background-color: #ff4c68;
    color: #fff;
}
.white-section {
    background-color: #fff;
}

/*navigation bar*/

.navbar {
 padding:0 0 4.5rem;

}


.navbar-brand{
    font-family:'Ubuntu';
    font-size:2.5rem;
    font-weight:bold;
    margin:0;
    
}
.nav-item {
    padding:0 18px;
    
}
.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-Light', sans-serif;
}
/*download buttons*/

.download-button{
    margin:5% 3% 5% 0;
}
/*title section*/
 
    #title .container-fluid {
        padding: 3% 15% 7%;
        text-align: left;
    }

/*title iamge*/
.title-image{
     margin:85px;
     width:20%;
     transform:rotate(25deg);
     position:absolute;
}
/*features-section*/
#features { 
    background-color:white;
    position:relative;  
}
.feature-title {
    font-size: 1.5rem;
}

.feature-box {
    padding: 5%;
}

 .icon{
     color:#ef8172;
     margin-bottom:1rem;
 }
 .icon:hover{
     color:#ff4c68;
 }
  
 /*testimonial section*/
#testimonials {
    background-color: #ef8172;
}
.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}
 
.dog-profile {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color:#ef8172;
    padding-bottom:3%;     
}
.press-images{
    width:10%;
    margin:20px 20px 0 50px;
}
#pricing{
    padding:100px;
}
.price-text {
    font-size: 3rem;
    line-height: 1.5;
}
.pricing-column{
    padding:3% 2%;
}
/*call to action*/
#cta {   
    line-height: 4;
    padding: 0 7% 5% 7%;
}
 
.btn{
    margin:40px 20px 0px 0;
}
/*footer*/
#footer{
    background-color:#fff;
}
.logo{
    margin: 0 20px 40px 20px;
}
 @media (max-width: 994px){
    .title-image {
        position: static;
        width:60%;
        transform:rotate(0deg);
       }
    #title{
        text-align:center;
    }
 }
